page-home {
    .search-header-button {
        color: rgb(214, 213, 213);
    }

    .tab-menus {
        .tab {
            height: auto;
            margin: 0px;
            padding: 0px;
            display: inline-block;
            width: 100%;
            color: #0f0f0fc2;
        }

        .tab-divider {
            float: left;
        }
    }

    .qusetion-wrapper {
        margin: 5px 0px;
        width: 100%;
        box-shadow: none;
        .qusetion-details{
            color:$note-color;
            margin: 0px;
        }
        .question-tips{
            &.item-ios{
                padding: 0px 16px;
                .item-inner{
                    padding-right: 0px;
                }
            }
            ion-avatar{
                display: inline-block;
                vertical-align: middle;
            }
        }
        .row{
            margin: 0px 11px;
        }
    }
}
