<!--
  Generated template for the DiscoveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>发现</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <!-- 下拉刷新组件 -->
    <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPull($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="refresherText" refreshingSpinner="circles"
            refreshingText="拼命刷新中">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card class="qusetion-wrapper" *ngFor="let question of questionList" (click)="navDetails(question.IdentityId)">
        <!-- 谁回答了这个问题 -->
        <ion-item class="question-tips">
            <ng-container *ngIf="question.Answer && question.Answer.length > 0; else elseTemplate">
                <ion-avatar item-start>
                    <img [src]="question.Answer[0].HeadFace">
                </ion-avatar>
                <ion-note item-start>{{question.Answer[0].UserNickName}}回答了这个问题</ion-note>
            </ng-container>
            <ng-template #elseTemplate>
                <ion-avatar item-start>
                    <img [src]="question.HeadFace">
                </ion-avatar>
                <ion-note>{{question.UserNickName}}提出了这个问题</ion-note>
            </ng-template>
            <button class="qusetion-details" ion-button item-end clear no-margin (click)="doMoreTap($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-item>

        <!-- 问题标题 -->
        <ion-card-header>
            {{question.ContentTitle}}
        </ion-card-header>

        <!-- <img [src]="avatarPath"> -->

        <!-- 问题内容 -->
        <ion-card-content>
            <p>{{question.ContentSummary}}</p>
        </ion-card-content>

        <!-- 问题关注情况 -->
        <ion-row>
            <ion-col>
                <ion-note>
                    <ion-icon name="thumbs-up"></ion-icon>
                    {{question.LikeCount}}&nbsp;赞同
                </ion-note>
                <ion-note>
                    ·
                </ion-note>

                <ion-note>
                    <ion-icon name="text"></ion-icon>
                    {{question.CommentCount}}&nbsp;评论
                </ion-note>
            </ion-col>
            <ion-col align-self-center text-right>
                <ion-note>
                    关注问题
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>
